<!-- <h1>dashboard works!</h1>
ID:<input type="number" #id value="id" /> Name:
<input type="text" #name value="" /> Desc:
<input type="text" #desc value="" /> Instock:

<input type="boolean" #clsvar value="" /> Country:
<input type="text" #country value="" /> Price:
<input type="number" #price value="" /> Image:
<input type="text" #prodimage value="" /> Quantity:
<input type="number" #quantity value="" /> -->
<button class="waves-effect waves-light btn">Add Product</button>

<table class="highlight">
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>inStock</th>
    <th>prodColor</th>
    <th>canPurchcanPurch</th>
    <th>clsVar</th>
    <th>country</th>
    <th>price</th>
    <th>prodImg</th>
    <th>quantity</th>
  </thead>
  <tbody>
    <tr *ngFor="let mobPart of mobParts">
      <td>{{ mobPart.id }}</td>
      <td>{{ mobPart.name }}</td>
      <td>{{ mobPart.description }}</td>
      <td>{{ mobPart.inStock }}</td>
      <td>{{ mobPart.prodColor }}</td>
      <td>{{ mobPart.canPurchcanPurch }}</td>
      <td>{{ mobPart.clsVar }}</td>
      <td>{{ mobPart.country }}</td>
      <td>{{ mobPart.price }}</td>
      <td>{{ mobPart.prodImg }}</td>
      <td>{{ mobPart.quantity }}</td>
      <td><a [routerLink]="['mobPart/edit', mobPart.id]">Edit</a></td>
    </tr>
  </tbody>
</table>
