<h1>{{ title }}</h1>
<h2 *ngFor="let name of names">{{ name }}</h2>
<br />

<div *ngFor="let mobObject of mobObjects">
  <p>ID : {{ mobObject.id }}</p>
  <p>Name : {{ mobObject.name }}</p>
  <p>Price : {{ mobObject.price }}</p>
  <p>
    Description : <span>{{ mobObject.desc }}</span>
  </p>
  <p
    [ngStyle]="{
      display: mobObject.Available > 0 ? 'inline-block' : 'none'
    }"
    *ngIf="mobObject.Available > 0"
  >
    <span>{{ mobObject.Available }} mobiles are instock </span>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Green_sphere.svg/200px-Green_sphere.svg.png"
      width="16"
    />
  </p>
  <p [ngStyle]="{ color: 'red' }" *ngIf="mobObject.Available === 0">
    <b>Out of Stock</b>
  </p>
</div>
